*.log
.DS_Store
.env
.env.backup
.env.production
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/database/*.sqlite
/database/*.sqlite-*
/bootstrap/cache/*.php
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/*.key
/storage/pail
/vendor
/_laravel_scaffold_tmp
/test_write_check
Homestead.json
Homestead.yaml
Thumbs.db
# Uploaded media
public/uploads/*
!public/uploads/.gitignore

public/uploads/gallery/*
!public/uploads/gallery/.gitignore